<div class="container">
  <div class="row">
    <% @retreats.each do |ret| %>
    <div class="col-xs-12 col-md-6">
      <%= render 'retreats/retreat_card', retreat: ret, property: ret.property %>
    </div>
    <% end %>
  </div>
</div>
