<div class="footer">
		<!-- <p>Content provided by Wild Wellness Travel 2016. Powered by Colby Bridges</p> -->
		<div class="social-links">
			<a href="http://instagram.com/wildwellnesstravel"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="mailto:cait@wildwellnesstravel.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
			<a href="https://plus.google.com/116616489670980305451"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/pub/cait-fraser/26/a96/131"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a href="https://twitter.com/wildwelltravel"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="http://www.facebook.com/wildwellnesstravel"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://www.pinterest.com/wildwellnesstra/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
		</div>
</div>
