<div class="home-background">
  <div class="home-image-slider" style="background-image:
  linear-gradient(180deg, rgba(255,255,255,0.9) 10%, rgba(255,209,148,0.2) 40%), url('/assets/home_background_image_wide.jpg')">
  <h1>Eat Clean, Live Wild, Travel Always</h1>
</div>
</div>
<div class="home-content">
  <div class="container">
    <h2 class="home-text text-center">Are you craving a vacation that is also a fresh start? Nowadays there are far too many overworked, stressed, digitally dependent and exhausted people – and as a result, many people are seeking travel experiences that<strong>&nbsp;</strong>reset and transform them back to feeling centered and present. We create balanced vacations that empower you to <em><strong>create space</strong></em>,&nbsp;<em><strong>change habits</strong></em>, enjoy <em><strong>cultural adventures</strong></em>, learn <strong><em>culinary</em>&nbsp;<em>wellness</em></strong>&nbsp;and most importantly, have a truly unique travel experience that will encourage sustainable <em><strong>self-care</strong></em>&nbsp;in your everyday life.</h2>
    <h2 class="home-text text-center">
      Wild Wellness Travel was created as a passion project inspired by years of travelling the world to find the ideal mixture of travel and wellness. Our company offers holistic life experiences, meaning that when planning your adventure, we consider all aspects of your journey. From top notch accommodation, whole foods and education, exercise, meditation, and cultural immersions. We help to guide you on your path to optimal wellness and enjoyment.
    </h2>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <%= image_tag "https://static1.squarespace.com/static/55a57a0ee4b077a6512ed815/t/582c98f53e00bed23e1e130f/1479317786632/?format=750w", class: "home-image-750" %>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="home-text-second"><h1><a target="_blank" href="http://www.lesoleildor.com/holistic-hideaways">H</a><a target="_blank" href="http://www.lesoleildor.com/holistic-hideaways">olistic Hideaways at Le Soleil d'Or Cayman Brac</a></h1><p>Wild Wellness Travel and <a target="_blank" href="http://www.lesoleildor.com/holistic-hideaways">Le Soleil d’Or</a> present the 2017 Holistic Hideaways retreat series.<br>This exciting partnership will elevate the luxury wellness travel experience for health-focused guests keen to revitalize their mind, body and soul.<br>Boasting a star lineup of leading health and wellness experts, this exclusive retreat series offers a full range of mindful practices and athletic activities for all wellness seekers.<br>&nbsp;<br>The gorgeous island of Cayman Brac plays host to all ten retreat programs, including a 5-day detox, a couple’s retreat, strength training, yoga, and meditation workshops.<br>Each retreat showcases <a target="_blank" href="http://www.lesoleildor.com/holistic-hideaways">Le Soleil d’Or’s</a> farm-to-table philosophy and dedication to holistic living, set on the intimate island of Cayman Brac.<br>&nbsp;<br>Health coach and lifestyle blogger <a target="_blank" href="http://www.nikkisharp.com">Nikki Sharp</a> kicks off the New Year with a Detox Retreat, followed by dynamic retreat programs led by celebrity trainer <a target="_blank" href="http://bodybyhannah.com/">Hannah Davis</a>, elite athlete <a target="_blank" href="http://www.amandabisk.com/">Amanda Bisk</a>, experts Dr.<a target="_blank" href="http://www.allaboutaddiction.com/About-A3"> Adi Jaffe</a> &amp; <a target="_blank" href="http://www.thephilosophie.com/">Sophie Jaffe</a>, celebrated yoga instructor <a target="_blank" href="http://www.rainbeaumarslifestyles.com/">Rainbeau Mars</a>, and certified fitness instructor <a target="_blank" href="http://www.chichilifenyc.com/">Lauren Chiarello</a>.<br>&nbsp;<br>Summer 2017 begins with the Reset to Reboot retreat guided by registered dietitian nutritionist <a target="_blank" href="http://nutritionstripped.com/">Mckell Hill</a>, proceeded by invigorating programs led by fitness instructors <a target="_blank" href="https://www.swervefitness.com/">Jason Tran &amp; Dyan Tsiumis</a>, thyroid health expert <a target="_blank" href="http://www.fernolivia.com/">Fern Langham</a>, and wellness leader <a target="_blank" href="http://wanderfulsoul.com/">Vitina Blumenthal</a>.</p><p>We have teamed up with <a target="_blank" href="http://www.nycpretty.com">NYC Pretty</a>&nbsp;to keep you updated on these exclusive retreats. Stay tuned for delicious details on these epic retreats.&nbsp;<br>&nbsp;<br>Registration details for all retreats are open and available for purchase through the Le Soleil d’Or website.</p><h3 class="text-align-center"><span style="font-size:14px">.</span></h3></div>
      </div>
    </div>
    <iframe src="https://player.vimeo.com/video/146531597?title=0&byline=0&portrait=0" width="100%" height="650px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br>
    <br>
    <iframe width="100%" height="720px" src="https://www.youtube.com/embed/jY4Ac800Qu0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>