<div id="landing-wrapper">
  <div class="back-layer">
    <div class="image-slider" style="background-image: url('https://static1.squarespace.com/static/55a57a0ee4b077a6512ed815/5626ab53e4b016a0d7899763/583ce084d2b8571174b6c61d/1480384677066/DSC_8056.JPG?format=2500w')">
    </div>
    <div class="image-slider" style="background-image: url('https://static1.squarespace.com/static/55a57a0ee4b077a6512ed815/5626ab53e4b016a0d7899763/583cde1f15d5dbc227284bcc/1480384062784/DSC_4381.JPG?format=2500w')">
    </div>
    <div class="image-slider" style="background-image: url('https://static1.squarespace.com/static/55a57a0ee4b077a6512ed815/5626ab53e4b016a0d7899763/583cdde72e69cf1be5782a49/1480383996490/DSC_0034.JPG?format=2500w')">
    </div>
    <div class="image-slider" style="background-image: url('https://static1.squarespace.com/static/55a57a0ee4b077a6512ed815/5626ab53e4b016a0d7899763/583cde09e6f2e18631dd77a8/1480384034795/DSC_4463.JPG?format=2500w')">
    </div>
    <div class="image-slider" style="background-image: url('https://static1.squarespace.com/static/55a57a0ee4b077a6512ed815/5626ab53e4b016a0d7899763/583cde3a15d5dbc227284ee1/1480384080600/DSC_4626.JPG?format=2500w')">
    </div>
    <div class="image-slider" style="background-image: url('https://static1.squarespace.com/static/55a57a0ee4b077a6512ed815/5626ab53e4b016a0d7899763/583cde60f5e2313f41be30cb/1480384120870/DSC_4774.JPG?format=2500w')">
    </div>
  </div>
  <div class="front-layer">
    <div class="front-layer-content">
      <h4>wild wellness travel features</h4>
      <div class="mid-group">
        <h1>Holistic Hideaways</h1>
        <p>at Le Soleil d'Or Cayman Brac</p>
        <ul class="mid-button-group" >
          <li>
          <%= link_to "Wild wellness travel site", root_path, class: "landing-button" %>
          </li>
          <li>
            <a target="_blank" href="http://www.lesoleildor.com/holistic-hideaways" target="_blank"
            class="landing-button">holistic hideaways site</a>
          </li>
        </ul>
      </div>

      <!-- Social icons -->
      <div class="lower-group">
        <a target="_blank" href="http://instagram.com/wildwellnesstravel">
          <svg class="social-buttons">
            <defs>
              <mask id="mask-instagram">
                <circle class="alpha"/>
                <text class="social-icon" x="50%", y="65%">&#xf16d;</text>
              </mask>
            </defs>
            <circle class="base" style="mask: url(#mask-instagram);"/>
          </svg>
        </a>

        <a target="_blank" href="mailto:cait@wildwellnesstravel.com">
          <svg class="social-buttons">
            <defs>
              <mask id="mask-email">
                <circle class="alpha"/>
                <text class="social-icon" x="50%", y="65%">&#xf003;</text>
              </mask>
            </defs>
            <circle class="base" style="mask: url(#mask-email);"/>
          </svg>
        </a>

        <a target="_blank" href="https://plus.google.com/116616489670980305451">
          <svg class="social-buttons">
            <defs>
              <mask id="mask-google">
                <circle class="alpha"/>
                <text class="social-icon" x="50%", y="65%">&#xf0d5;</text>
              </mask>
            </defs>
            <circle class="base" style="mask: url(#mask-google);"/>
          </svg>
        </a>

        <a target="_blank" href="https://www.linkedin.com/pub/cait-fraser/26/a96/131">
          <svg class="social-buttons">
            <defs>
              <mask id="mask-linkedin">
                <circle class="alpha"/>
                <text class="social-icon" x="50%", y="65%">&#xf0e1;</text>
              </mask>
            </defs>
            <circle class="base" style="mask: url(#mask-linkedin);"/>
          </svg>
        </a>

        <a target="_blank" href="https://twitter.com/wildwelltravel">
          <svg class="social-buttons">
            <defs>
              <mask id="mask-twitter">
                <circle class="alpha"/>
                <text class="social-icon" x="50%", y="65%">&#xf099;</text>
              </mask>
            </defs>
            <circle class="base" style="mask: url(#mask-twitter);"/>
          </svg>
        </a>

        <a target="_blank" href="http://www.facebook.com/wildwellnesstravel">
          <svg class="social-buttons">
            <defs>
              <mask id="mask-facebook">
                <circle class="alpha"/>
                <text class="social-icon" x="50%", y="65%">&#xf09a;</text>
              </mask>
            </defs>
            <circle class="base" style="mask: url(#mask-facebook);"/>
          </svg>
        </a>

        <a target="_blank" href="https://www.pinterest.com/wildwellnesstra/">
          <svg class="social-buttons">
            <defs>
              <mask id="mask-pinterest">
                <circle class="alpha"/>
                <text class="social-icon" x="50%", y="65%">&#xf231;</text>
              </mask>
            </defs>
            <circle class="base" style="mask: url(#mask-pinterest);"/>
          </svg>
        </a>

      </div>
    </div>
  </div>
</div>
