<div class="back-layer">
  <div class="image-slider" style="background-image: url('/assets/image-1')">
  </div>
</div>
<div class="front-layer">
  <div class="front-layer-content">
    <h4>wild wellness travel features</h4>
    <div class="mid-group">
      <h1>Holistic Hideaways</h1>
      <p>at Le Soleil d'Or Cayman Brac</p>
      <ul class="mid-button-group" >
        <li>
          <a href="http://www.wildwellnesstravel.com/home" target="_blank"
          class="landing-button">Wild wellness travel site</a>
        </li>
        <li>
          <a href="http://www.lesoleildor.com/holistic-hideaways" target="_blank"
          class="landing-button">holistic hideaways site</a>
        </li>
      </ul>
    </div>
    <div class="lower-group">
    <a href="#">
    <svg class="social-buttons">
       <defs>
         <mask id="mask-instagram">
           <circle class="alpha"/>
           <text class="social-icon" x="50%", y="70%">&#xf16d;</text>
         </mask>
       </defs>
       <circle class="base" style="mask: url(#mask-instagram);"/>
     </svg>
     </a>

     <a href="">
    <svg class="social-buttons">
       <defs>
         <mask id="mask-email">
           <circle class="alpha"/>
           <text class="social-icon" x="50%", y="70%">&#xf003;</text>
         </mask>
       </defs>
       <circle class="base" style="mask: url(#mask-email);"/>
     </svg>
     </a>

     <a href="">
    <svg class="social-buttons">
       <defs>
         <mask id="mask-google">
           <circle class="alpha"/>
           <text class="social-icon" x="50%", y="70%">&#xf0d5;</text>
         </mask>
       </defs>
       <circle class="base" style="mask: url(#mask-google);"/>
     </svg>
     </a>

     <a href="">
    <svg class="social-buttons">
       <defs>
         <mask id="mask-linkedin">
           <circle class="alpha"/>
           <text class="social-icon" x="50%", y="70%">&#xf0e1;</text>
         </mask>
       </defs>
       <circle class="base" style="mask: url(#mask-linkedin);"/>
     </svg>
     </a>

     <a href="">
    <svg class="social-buttons">
       <defs>
         <mask id="mask-twitter">
           <circle class="alpha"/>
           <text class="social-icon" x="50%", y="70%">&#xf099;</text>
         </mask>
       </defs>
       <circle class="base" style="mask: url(#mask-twitter);"/>
     </svg>
     </a>

   </div>
 </div>
</div>
