<h1>DASHBOARD</h1>
<%= @company.name %>
<%= link_to "New Retreat", new_retreat_path%>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <ul class="dashboard-menu">
        <li>
          <a class="dashboard-btn active" data-target="#retreat-list">Retreats</a>
        </li>
        <li>
        <a class="dashboard-btn" data-target="#booking-list">Bookings</a>
        </li>
        <li>
          <a class="dashboard-btn" data-target="#completed-bookings">Completed</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9">
    <div class="dashboard-results">
      <div id="retreat-list" class="dashboard-content">
        <% if @company.retreats.first %>
        <% @company.retreats.each do |ret| %>
        <%= render 'retreats/retreat_card', retreat: ret %>
        <% end %>
        <% end %>
      </div>
      <div id="booking-list" class="dashboard-content">
        <h1>BOOKINGS</h1>
      </div>
      <div id="completed-bookings" class="dashboard-content">
        <h1>COMPLETED</h1>
      </div>
      </div>
    </div>
  </div>
</div>
