<%#= link_to "New Retreat", new_retreat_path, class: "btn btn-info" %>
<div class="dashboard-content">
  <h1>DASHBOARD</h1>
  <%= @company.name %>
  <%= link_to "New Retreat", new_retreat_path%>
  <div class="container">
  <% if @company.retreats.first %>
  <% @company.retreats.each do |ret| %>
  <%= render 'retreats/retreat_card', retreat: ret %>
  <% end %>
  <% end %>
  </div>
</div>
