.card-layout {
  margin: 0 auto;
  padding: 0;
  height: 250px;
  width: 400px;
  background-size: cover;
  // background-position: center;
  // background: linear-gradient(180deg, rgba(255,255,255,0.9) 10%, rgba(255,209,148,0.2) 40%);
}

.card-image {
  top: 0;
  left: 0;
  width: 100%;

}
