.card-layout {
  position: relative;
  margin: 20px auto;
  width: 100%;
  height: 350px;
  padding: 0;
  color: $grey;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease;
}

.retreat-card-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-name {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  background-color: rgba(85,187,178,0.6);
  p {
    padding: 5px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px 2px #000;
  }
}

.card-info {
  position: absolute;
  width: 100%;
  height: 150px;
  padding: 10px;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;
  display: flex;
}

.card-left-side {
  flex: 0 0 70%;
  border-right: 1px solid rgb(180,180,180);
  p {
    font-size: 16px;
    margin: 2px auto;
  }
  span {
    color: rgb(100,100,100);
  }
}

.card-description {
  line-height: 1.5em;
  font-size: 13px;
  height: 6em;
  overflow: hidden;
  padding-right: 10px;
}

.card-right-side {
  flex: 0 0 30%;
  text-align: center;
}

.card-price {
  font-size: 26px;
}

.blue-stars {
  display: block;
  width: 99px;
  height: 18px;
  margin: 0 auto 7px;
  background: url(http://c.boylett.uk/generic/image_png_00004.png);

}

.blue-stars > em  {
  display: block;
  width: 99px;
  height: 18px;
  text-align: left;
  background: url(http://c.boylett.uk/generic/image_png_00004.png);
  background-position: 0 -18px;
}

.card-links {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  transition: opacity 250ms ease;
  div {
    text-align: center;
    padding-top: 120px;
    @media (max-width: $screen-xs) {
      padding-top: 40px;
    }
    a {
      margin: 5px auto;
      width: 150px;
    }
  }
  &:hover {
    opacity: 0.8;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  transition: opacity 250ms ease;
  &:hover {
    opacity: 0.2;
  }
}
